body {
  font-family: "Roboto Condensed";
  margin: 0;
}
html {
  background: url("https://i.pinimg.com/originals/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
h1 {
  margin-top: 0;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
#top {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}
#top h1 {
  margin-bottom: 10px;
}
#bottom {
  text-align: center;
  color: black;
  font-weight: 700;
  background-color: #bdc3c7;
  line-height: 30px;
  margin: 30px;
}
.wrapper {
  position: relative;
}
#main {
  padding: 0 320px 0 500px;
  line-height: 25px;
}
#main h1,
#main h2 {
  margin: 10px 0 15px;
}
#main img {
  /*display: block; */
  margin: 10px auto;
  border: 5px solid #ff0000;
  border-radius: 20px 0 20px 0;
}
#status {
  font-size: 20px;
  color: red;
}
#Lee, #BB, #Noo, #Duy {
  position:relative;
  cursor:pointer;
  transition:all 1s;
}
#sidebar {
  position: absolute;
  right: 20px;
  top: 0;
  width: 280px;
  font-size: 14px;
  border: 2px dashed #bdc3c7;
  padding: 10px 10px 10px 20px;
}
a {
  color: black;
}
a:hover {
  color: #e74c3c;
}
